@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;

}

.container{
    height: 99%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}

.header{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.weather{
    display: flex;
    align-items: flex-end;
}

.weather p{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.weather i{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#time{
    color: rgb(255, 255, 255);
    font-size: 15px;
    
}

.tasks{
    overflow-y: scroll;
    overflow-x: hidden; 
}

.list{
    margin-bottom: 8vh;
}

.list li{
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 8px;
}

.list li p{
    margin-left: 10px;
    font-size: 20px;
}

.delete{
    margin-left: auto !important;
    margin-right: 10px;
}

.displayNone{
    display: none;
}

.list li i{
    margin-left: 15px;
    font-size: 22px;
}

.addTask{
    position: fixed;
    bottom: 2vh;
    height: 7vh;
    margin-right: 2%;
    margin-left: 2%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
}

.addTask:hover{
    box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
}

.addTask i{
    font-size: 30px;
    color: rgb(177, 177, 177);
    margin-right: 15px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    border-radius: 360px;
}

.addTask input{
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 6vh;
    color: rgb(177, 177, 177);
    font-size: 17px;
}

#deleteAll{
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    border-radius: 360px;
    width: 150px;
    height: 50px;
    border: 0px;
    background-color: rgb(0, 81, 134);
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: fixed;
    bottom: 12vh;
    right: 3vw;
    display: flex;
    align-items: center;
    box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -6px 18px -4px rgba(0,0,0,0.7);
}

#deleteAll:hover{
    box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -6px 18px 2px rgba(0,0,0,0.7);
}

.addTask i:hover{
    box-shadow: 10px 9px 22px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 22px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 22px -2px rgba(0,0,0,0.75);
}

#deleteAll:onclick{
    box-shadow: 10px 24px 22px -25px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 24px 22px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 24px 22px -25px rgba(0,0,0,0.75);
}

.active{
    color: rgb(0, 0, 0);
}

.inactive{
    color: rgb(109, 108, 108);
    text-decoration: line-through;
}

@media only screen and (min-width: 601px) {
    .header{
        height: 99vh;
        width: 30%;
        float: left;
        -webkit-border-bottom-left-radius: 16px;
        -moz-border-bottom-left-radius: 16px;
        border-bottom-left-radius: 16px;
        -webkit-border-top-left-radius: 16px;
        -moz-border-top-left-radius: 16px;
        border-top-left-radius: 16px;
        background-image: url("../images/headerP.jpg");
    }

    .weather{
        margin-bottom: 20px;
    }

    .tasks{
        height: 99vh;
    }

    #deleteAll{
        width: 150px;
        height: 50px;
    }

    #deleteAll i{
        margin-left: 10px;
    }

    #deleteAll p{
        margin-left: 3px;
        font-size: 17px;
        font-weight: bold;
    }

}


.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}
.dialog-ovelay .dialog {
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
}
.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333
}
.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
    direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px
}
.button {
  cursor: pointer
}
.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}